.service-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 290px;
    cursor: pointer;
    font-size: 18px;
    color: #4C4B51;
    border-radius: 4px 4px 0px 0px;
    user-select: none;

    &_active {
        background-color: #F6F7FF;
        color: #1F1E25;
    }

    &__caption {
        margin-left: 10px;
    }
}