.services {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 1160px;
  margin-top: 60px;
}
.services__tabs {
  display: flex;
  width: 100%;
  height: 90px;
}
.services__tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 90px;
  box-sizing: border-box;
  background-color: #F6F7FF;
}
.services__checkboxes {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.services__checkbox {
  display: flex;
  align-items: baseline;
  padding-top: 25px;
}
.services__checkbox-label {
  font-size: 18px;
  margin-left: 10px;
  white-space: pre-wrap;
}
.services__info-block {
  width: 500px;
}
.services__title {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 15px;
  white-space: pre-wrap;
}
.services__additional {
  white-space: pre-wrap;
  font-size: 18px;
}
.services__img {
  width: 440px;
  height: 290px;
}
