:root {
  --color-background: #F6F7FF;
  --color-dark: #1F1E25;
  --color-shadow: #E0E1EA;
  --color-primary: #2C36F2;
  --color-primary-light: #3E47EE;
  --color-additional: #707C87;
  --color-label: #394959;
  --color-unactive-label: #4C4B51;
  --color-unaccent: #C1C2CA;
}
.main-page {
  display: flex;
  flex-direction: column;
}
